<div class="py-5 bg-body-tertiary">
  <div class="container">
    <div class="row">
      <section class="col-3">
        <h5 class="text-warning ms-3 mt-2">Sort</h5>
        <select class="form-select mb-3">
          <option selected>Alphabetical</option>
          <option>Price: Low to High</option>
          <option>Price: High to Low</option>
        </select>
        <h5 class="text-warning ms-3">Brands</h5>
        <ul class="list-group my-3">
          <li class="list-group-item active" aria-current="true">
            An active item
          </li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>

        <h5 class="text-warning ms-3">Category</h5>
        <ul class="list-group my-3">
          <li class="list-group-item active" aria-current="true">
            An active item
          </li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </section>

      <section class="col-9">
        <div class="d-flex justify-content-between align-items-center pb-2">
          <header>
            <span>Showing <strong>10</strong> of <strong>20</strong></span>
          </header>
          <div class="d-inline-flex">
            <input
              type="text"
              class="form-control"
              style="width: 300px"
              placeholder="Search"
            />
            <button class="btn btn-outline-primary mx-2">Search</button>
            <button class="btn btn-outline-success">Reset</button>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          @for (product of products; track product.id) {
          <app-product-item [product]="product"></app-product-item>
          } @empty {
          <app-product-item></app-product-item>
          <app-product-item></app-product-item>
          <app-product-item></app-product-item>
          }
        </div>
      </section>
    </div>
  </div>
</div>
<!-- @for (product of products; track product.id) {
<div class="col">
  <div class="card shadow-sm">
    <img class="card-img-top" height="225" src="{{ product.imageUrl }}" />
    <div class="card-body">
      <div class="card-header py-sm-0 mb-2">
        <h5 class="card-text">
          {{ product.name }}
        </h5>
        <p>Rp. {{ product.price }}</p>
      </div>
      <p class="card-text">
        {{ product.description }}
      </p>
    </div>
  </div>
</div>
} -->
