@inherits LayoutComponentBase

<div class="">
    <div>
        <NavMenu />
    </div>

    <main class="">
        <div class=" container">
            <div class="row justify-content-center justify-content-lg-between">
                <SideNavMenu />
                @Body
            </div>
        </div>
    </main>
</div>

@* <div id="blazor-error-ui">
An unhandled error has occurred.
<a href="" class="reload">Reload</a>
<a class="dismiss">🗙</a>
</div> *@
