<div class="container-lg mx-lg-0">
  <div class="row justify-content-center justify-content-lg-between">
    <section class="col-3 offcanvas-lg offcanvas-start" id="offCanvasSideBar">
      <h5 class="text-warning ms-3 mt-2">Sort</h5>
      <select class="form-select mb-3">
        <option selected>Alphabetical</option>
        <option>Price: Low to High</option>
        <option>Price: High to Low</option>
      </select>
      <h5 class="text-warning ms-3">Brands</h5>
      <ul class="list-group my-3">
        @if (productBrands === undefined) {
        <li class="list-group-item">Product Brand no.1</li>
        <li class="list-group-item">Product Brand no.2</li>
        <li class="list-group-item">Product Brand no.3</li>
        <li class="list-group-item">Product Brand no.4</li>
        } @else { @for (brand of productBrands; track brand.id) {
        <li class="list-group-item">{{ brand.name }}</li>
        } }
      </ul>

      <h5 class="text-warning ms-3">Category</h5>
      <ul class="list-group my-3">
        @if (categories === undefined) {
        <li class="list-group-item">Category no. 1</li>
        <li class="list-group-item">Category no. 2</li>
        <li class="list-group-item">Category no. 3</li>
        <li class="list-group-item">Category no. 4</li>
        } @else { @for (category of categories; track category.id) {
        <li class="list-group-item">{{ category.name }}</li>
        } }
      </ul>
    </section>

    <section class="col-9">
      <div class="my-2 d-lg-flex">
        <header class="me-lg-3">
          @if (searchResult === undefined) {
          <span></span>
          } @else {
          <span
            >Search Result For : <strong>{{ searchResult }}</strong></span
          >
          }
        </header>
        <header>
          <span>Showing <strong>10</strong> of <strong>20</strong></span>
        </header>
      </div>

      <div
        class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-between"
      >
        @for (product of products; track product.id) {
        <app-product-item [product]="product"></app-product-item>
        } @empty {
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        }
      </div>
    </section>
  </div>
</div>
