<app-nav-bar></app-nav-bar>

<div class="container mt-5">
  <h1>Welcome to {{ title }}</h1>
</div>

<app-shop></app-shop>

<!-- <div class="row container-fluid justify-content-between">
  @for (product of products; track product.id) {

  <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="align-content-center">
      <div class="">
        <img
          class="default-image"
          src="{{ product.imageUrl }}"
          alt="{{ product.imageUrl }}"
          height="200px"
        />
      </div>
      <div class="product-content">
        <h3 class="h3">{{ product.name }}</h3>
        <div class="product-price">
          <span>Rp. {{ product.price }}</span>
        </div>
      </div>
    </div>
  </div>
  }
</div> -->
