.cart-no{
  position: absolute;
  min-height: 22px;
  min-width: 22px;
  border-radius: 50%;
  font-size: 0.8em;
  background: blueviolet;
  color: white;
  text-align: center;
  top: -12px;
  right: 5px;
}

fa-icon{
  font-size: 20px;
}
