<div class="container py-3">
  <div
    class="fixed-top d-flex flex-column justify-content-between flex-md-row align-items-center px-md-4 p-3 mb-4 border-bottom"
  >
    <img
      src="/assets/images/logo-bg-none.webp"
      alt="khaimarket logo"
      height="40px"
    />
    <nav class="text-uppercase">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#"
        >Home</a
      >
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#"
        >Category</a
      >
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#"
        >Contact</a
      >
    </nav>
    <div class="d-flex align-items-center">
      <a class="position-relative">
        <fa-icon [icon]="faShoppingCart" class="me-3 text-dark"></fa-icon>
        <div class="cart-no">5</div>
      </a>
      <a class="btn btn-sm btn-outline-secondary me-2" href="#">Login</a>
      <a class="btn btn-sm btn-outline-secondary me-3" href="#">Sign Up</a>
    </div>
  </div>
</div>
